body
{
    color: rgb(10, 10, 10);
    text-align: center;
    font-family: unset;
    font-size: 16;
    margin: 0;
    padding: 0;
}

#container 
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
    margin-top: 12px;
}



#container h4
{
    font-size: 20px;
}
nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

#Principal{
background-color: blue;
color: azure;
font-weight: bold;
margin: 0%;
padding: 0.5em;
box-shadow: -8px 10px 23px 1px rgba(0,0,0,0.75);
}
footer{
    background-color: darkgoldenrod;
    font-size: medium;
    
}
